b.svelte-12qekpb{color:#111}.settings.svelte-12qekpb{font-size:14px}.settings-header.svelte-12qekpb{margin-top:40px;color:#111;font-weight:700}.settings-description.svelte-12qekpb{margin-top:15px;margin-bottom:15px;color:#777}
