/* Write your global styles here, in PostCSS syntax */
@source "./src/**/*.{html,js,svelte,ts}";
@source "./node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}";
@plugin "flowbite/plugin";
@tailwind base;
@tailwind components;
@tailwind utilities;
